<!-- start: MAIN NAVIGATION MENU -->
<div class="side-nav-divider" style="margin-top: -20px;"></div>
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/dashboard.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Dashboard </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active" ng-class="{active: $stateParams.familyID }" >
        <a ui-sref="app.contacts">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/contacts.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Contacts </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.loan-tools">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/loantools.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Loan Tools </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.insurance-tools">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/insurancetools.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Insurance Tools </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.workflow">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/workflow.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Work Flow </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.communicate">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/communicate.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Communicate </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.report">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/report.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Report </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.commission">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/commission.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Commission </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.resources">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/resources.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Resources </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.referrals">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/referrals.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Referrals </span>
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: FEATURES -->
<div class="side-nav-divider" style="margin-top: 10px;margin-bottom: 20px;position: relative;"></div>
<div class="navbar-title">
    <span translate="sidebar.heading.FEATURES">User</span>
</div>
<ul class="folders">
    <li ui-sref-active="active">
        <a ui-sref="app.feedback">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/feedback.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Feedback </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.users">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/users.svg" class="nav-svg" >
                </div>
                <div class="item-inner">
                    <span class="title"> Users </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.customise-theme">
            <div class="item-content">
                <div class="item-media">
                    <img src="assets/images/lmtrial/customise.svg" class="nav-svg svc svc1" >
                </div>
                <div class="item-inner">
                    <span class="title svgp"> Customise Theme </span>
                    <img src="assets/images/lmtrial/new.svg" class="nav-svg svc svc2" >
                </div>
            </div>
        </a>
    </li>
</ul>
<div class="nav-footer">
    <div class="side-nav-divider" style="margin-top: 10px;margin-bottom: 20px;position: relative;"></div>
    <p class="title text-center"> &copy; Copyright 2016 NZFSG </p>
</div>