body {
    background: #ece8f0;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid #a94442!important;
}

.nav-svg {
    height: 14px;
    margin-top: -7px;
}

#sidebar .sidebar-container,
.navbar .navbar-header,
#sidebar {
    background: #1b1439!important;
}

.navbar .navbar-collapse {
    background-color: #fff!important;
}

.navbar .navbar-header,
.navbar {
    height: 56px !important;
}

.breadcrumb-wrapper {
    background: transparent;
}

.top-bar-icon {
    height: 15px;
}

.navbar .navbar-right>li>a .angular-notifications-container .angular-notifications-icon div {
    display: none;
}

.navbar .navbar-right>li>a .angular-notifications-container .angular-notifications-icon {
    height: 10px !important;
    min-width: 5px !important;
    width: 5px;
    top: 18px !important;
    right: -3px;
    background: red;
    background: rgba(255, 0, 0, .7);
}

ul.nav.navbar-left.hidden-sm.hidden-xs>li:nth-child(3)>form>div>button>i {
    color: #9b88aa;
}

.navbar .navbar-collapse .navbar-left>li .main-search .form-control {
    color: #333 !important;
    border: 1px solid #c5c5c5!important;
    height: 30px;
    border-radius: 2px!important;
    border-color: gray;
    font-size: 13px!important;
    margin-top: 15px;
    width: 225px;
}

.top-left-logo {
    height: 30px;
    width: 30px;
    padding: 8px;
    border-radius: 4px;
    margin-left: -10px;
}

#sidebar>div nav .navbar-title {
    color: #fff;
}

.navbar-title {
    padding-left: 25px !important;
}

.lyt-2 #sidebar>div nav>ul>li {
    padding-left: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#sidebar>div nav>ul>li.active,
#sidebar>div nav>ul>li.active:hover,
#sidebar>div nav>ul>li:hover {
    border-left: none!important;
    background: rgba(127, 124, 193, .2)!important;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(127, 124, 193, .2), #1b1439)!important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(127, 124, 193, .2), #1b1439)!important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(127, 124, 193, .2), #1b1439)!important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(127, 124, 193, .2), #1b1439)!important;
    /* Standard syntax (must be last) */
}

.lyt-2 #sidebar>div nav>ul>li .item-inner {
    font-size: 13px;
}

.lyt-2 #sidebar>div nav>ul>li .item-inner {
    padding-left: 0px;
    padding-right: : 0px;
}

.item-inner i.fa.fa-angle-right {
    margin-top: 1px;
}

.side-nav-divider {
    background-color: #100b25;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(47, 39, 84, 1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(47, 39, 84, 1);
    box-shadow: 0px 2px 0px 0px rgba(47, 39, 84, 1);
    width: 100%;
    height: 1px;
    position: absolute;
}

.breadcrumb-wrapper {
    border-bottom: none;
}

.container-fullw:before {
    background-image: none;
}

.main-content>.container {
    padding: 30px!important
}

.breadcrumb-wrapper {
    margin: 0 0px;
    padding: 0!important;
}

#app,
.main-content>.container,
.main-content {
    background: #ece8f0!important;
}

.mainTitle {
    font-size: 21px;
    color: #5f5566;
    margin-bottom: 25px!important;
}

.mainTitle span,
.mainTitle i {
    font-size: 11px;
}

.mainTitle span {
    margin-right: 12px;
}

.mainTitle span.first-span {
    margin-left: 27px;
}

.main-title-divider {}

.container-fullw {
    padding-top: 0px;
}

.lg-btn-style {
    height: 35px;
    padding: 10px 15px;
    font-size: 11px;
    border: none;
    border-radius: 4px;
    color: #fff!important;
}

.lg-btn-style:hover,
.lg-btn-style:active {
    border: none!important;
}

.lg-btn-style img {
    height: 11px;
    margin-right: 10px;
    margin-top: -3px;
}

#addContacts {
    margin-right: 5px;
    width: 128px;
    background-color: #2ebfc2;
}

#mergeContacts {
    width: 134px;
    background-color: #ccc9d0;
}

.nav-footer {}

.nav-footer p {
    font-size: 11px;
    color: #d1d1d1;
}

.svc,
.svgp {
    color: #2ebfc2;
}

.svc2 {
    height: 22px;
    margin-left: 15px;
}

.lyt-2 #sidebar>div nav>ul>li .item-media {
    max-width: 45px;
    min-width: 45px;
}

.tooltip.customClass .tooltip-inner {
    background: #1b1439;
    color: #fff;
    max-width: 110px;
    padding: 10px 2px;
}

.navbar-sm-right,
.search-sm {
    display: none;
}

.panel-body {
    -webkit-box-shadow: 0px 1px 1px 1px rgba(189, 187, 191, 0.65);
    -moz-box-shadow: 0px 1px 1 1px rgba(189, 187, 191, 0.65);
    box-shadow: 0px 1px 1px 1px rgba(189, 187, 191, 0.65);
}

.letter-holder {
    max-width: 40px;
    position: relative;
    float: left;
    width: 40px;
    text-align: center;
    margin-top: 65px;
}

.letter-filter {
    color: #1b1338;
    font-size: 11px;
    margin: 0 auto;
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-bottom: 5px;
}

.letter-filter-active,
.letter-filter:hover {
    background: #2dbfc1;
    border-radius: 50px;
    color: #fff;
}

.clip-check label:before {
    background-color: transparent;
    border: 1px solid #9b88aa;
    border-radius: 2px;
}

.clip-check.check-primary input[type="checkbox"]:checked+label:before {
    border: 1px solid #2dbfc1;
    background-color: #2dbfc1;
}


/**/

.family-panel {
    padding-top: 0px;
}

.family-panel .table-responsive {}

.family-table {
    border-collapse: collapse;
    width: 97%;
}

.family-table tr {
    cursor: pointer;
}

.family-table.table>tbody>tr>td,
.family-table td {
    padding: 15px!important;
    border: none!important;
    color: #6d4d83!important;
    font-size: 13px!important;
    padding-right: 0px!important
}

.table-striped>tbody>tr:nth-child(2n) {
    background: #f5f2f8;
    border: 1px solid #d1c5d8;
}

.table-striped>tbody>tr:nth-child(2n+1) {
    background-color: transparent;
}

.table-striped>tbody>tr:hover {
    background-color: #feffe6;
}

.family-table .checkbox-inline {
    margin-right: 0px !important;
    margin-top: -10px !important;
    margin-left: 0 !important;
    margin-bottom: 0px !important;
    height: 14px;
}

.family-table .clip-check.check-sm label {
    margin-right: 0;
    padding-left: 0px !important;
    line-height: 0px;
}

.family-table>thead:first-child>tr:first-child>th {
    border-top: 0;
    padding: 0px 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    color: #83738d!important;
    font-size: 13px;
}

.family-table .glyphicon-filter {
    font-size: 11px;
}

.family-table .form-group {
    margin-bottom: -17px;
    margin-top: -17px;
}

.family-table .form-group input {
    height: 28px;
    border: 1px solid #9b88aa;
    font-size: 12px!important;
    padding-left: 12px!important;
    font-weight: normal!important;
    border-radius: 4px;
}

.family-contact-icon {
    color: #6d4d83;
    margin-right: 14px;
    padding: 2px 3px;
}

.family-contact-icon:hover {
    background: #F79091;
    color: #fff;
    border-radius: 100px;
}

.cd-breadcrumbs {
    margin-bottom: 31px;
    display: -webkit-inline-box;
    position: relative;
}

.cd-br {
    background: white;
    padding: 8px 10px;
    font-size: 12px;
    color: #5f5566;
    position: relative;
}

.cd-br-1st {
    color: #2dbfc1;
    font-weight: bold;
    cursor: pointer;
    margin-right: 7px;
}

.cd-br-1st i {}

.cd-br-th {}

.cd-buttons-head {
    font-weight: bold;
    color: #fff!important;
    padding: 6px 8px!important;
    margin-right: 8px!important;
    border-radius: 4px;
    cursor: pointer;
}

.cd-buttons-head img {
    height: 11px;
    margin-top: -2px;
}

.cd-buttons-head.head1 {
    margin-left: 10px;
    background-color: #544890;
}

.cd-buttons-head.head2 {
    background-color: #5b9bd1;
}

.cd-buttons-head.head3 {
    background-color: #2dbfc1;
}

.cd-tabset.tabbable {
    background: transparent;
}

.cd-tabset.tabbable .nav-tabs>li>a {
    font-size: 12px;
    color: #83738d;
    text-transform: uppercase;
}

.smc-noti-container {
    padding-top: 16px;
}

.cd-alert-info {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background: #5a99d0;
    padding: 14px;
    /*margin-top: 16px;*/
    margin-bottom: 0px;
}

.cd-alert-info i {
    font-size: 15px;
    margin-right: 10px
}

.row-cd-summary {
    margin-top: 20px!important;
    margin-right: 0;
    margin-left: 0;
}

.cd-summary-content-holder {
    border: 1px solid #d3ccd6;
    border-radius: 5px;
    padding: 15px 20px!important;
    */
}

.row-cd-summary .sub-title {
    margin-bottom: 15px;
    font-size: 15px!important;
    color: #705e7b;
    font-weight: bold;
}

.row-cd-summary .sub-title span {
    font-size: 10px!important;
    color: #2dbfc1;
    float: right;
    cursor: pointer;
    text-transform: uppercase;
}

#cd-summary-table,
#cd-summary-benefits,
#cd-summary-loans {
    margin-bottom: 0px;
    border: 1px solid #d3ccd6;
    border-radius: 5px;
}

#cd-summary-table td,
#cd-summary-benefits td,
#cd-summary-loans td {
    padding: 15px 20px;
}

#cd-summary-benefits td,
#cd-summary-benefits tr,
#cd-summary-benefits th,
#cd-summary-loans td,
#cd-summary-loans tr,
#cd-summary-loans {
    color: #6d4d83!important;
    font-size: 13px!important;
}

#cd-summary-loans .csl-submit {
    font-weight: bold;
    color: #2dbfc1!important;
}

#cd-summary-table .even {
    text-align: center;
    background: #f5f2f9;
    color: #83738d!important;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: text-top;
}

#cd-summary-table .odd {
    background: #ffffff;
    color: #6d4d83!important;
}

#cd-summary-table .odd-email {
    font-weight: bold;
    color: #2dbfc1!important;
}

#cd-summary-table .odd-address {}

#cd-summary-benefits>thead>tr>td {
    font-weight: bold;
}

#cd-summary-benefits thead .csb-heading {
    background-color: #f5f2f8!important;
}

#cd-summary-benefits img {
    margin: 0 auto;
}

.sb-count-style {
    font-size: 11px;
    font-style: normal;
    padding: 2px 5px;
    background: #a18eaf;
    font-weight: bold;
    color: #fff!important;
    border-radius: 100px;
}

.csp>.panel-body {
    padding: 15px!important;
}

.cs-sidebar-header {
    color: #6d4d83;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
}

.cs-sidebar-icon {
    margin-right: 5px;
    font-weight: normal;
    color: #6d4d83;
}

.cs-sidebar-header span {
    float: right;
    color: #2dbfc1;
    cursor: pointer;
    font-size: 10px;
}

.sb-count-style2 {
    font-size: 10px;
    font-style: normal;
    padding: 1px 3px;
    background: #a18eaf;
    font-weight: bold;
    color: #fff!important;
    border-radius: 100px;
}

.cs-divider {
    width: 100%;
    height: 1px;
    background: #efe9f3;
}

.cst-type {
    font-size: 12px;
    color: #705e7b;
}

.cst-due {
    background: #f68f8f;
    font-size: 10px;
    color: #fff;
    margin-left: 3px;
    padding: 2px 3px;
    border-radius: 2px;
}

.cst-desc {
    font-size: 12px;
    color: #705e7b;
    font-weight: normal;
}

.cst-advisor {
    font-weight: bold;
    color: #b2a4bd;
    font-size: 12px;
}

.csra-container {
    margin-top: 20px;
}

.csra-icon {
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid #e1dae6;
    border-radius: 3px;
    padding-top: 5px;
    text-align: center;
    color: #b2a4bd;
    margin-right: 10px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(47, 39, 84, .25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(47, 39, 84, .25);
    box-shadow: 0px 1px 1px 0px rgba(47, 39, 84, .25);
}

.csra-title {
    font-size: 12px;
    font-weight: bold;
    color: #705e7b;
    margin-right: 3px;
}

.csra-date {
    font-size: 11px;
    color: #705e7b;
}

.csra-desc {
    font-size: 12px;
    color: #705e7b;
}

.csra-email {
    font-weight: bold;
    color: #2dbfc1;
    font-style: normal;
    cursor: pointer;
}

.csn-container {
    padding: 15px 0px;
}

.csn-heading {
    font-weight: bold;
    font-size: 12px;
    color: #705e7b;
}

.csn-desc {
    font-size: 12px;
    color: #705e7b;
}

.csn-button {
    margin-top: 15px;
    color: #fff;
    background: #2dbfc1;
    border: none;
}

.csn-button:hover {
    background-color: #38f0f3;
    border-color: #bbbac0;
    color: #fff;
}

.csn-button .fa {}

.clip-check.check-sm label {
    line-height: 15px;
}

.clip-check.check-primary input[type="checkbox"]:checked+label:before {
    margin-top: -3px;
}

.smm-container {
    text-align: center;
    bottom: -70px;
    position: absolute;
    background: #2dbfc1;
    height: 60px;
    width: 60px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(207, 200, 213, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(207, 200, 213, 1);
    box-shadow: 0px 1px 0px 0px rgba(207, 200, 213, 1);
    border-radius: 100px;
    cursor: pointer;
    right: 13px;
}

.smm-container img {
    background: transparent;
    height: 25px;
    width: 25px;
    margin-top: 16px;
}

.cd-br-1st .triangle-end {}

.cd-br-th .triangle-front {}

.cd-br-th .triangle-end {}

.add-exit {
    padding: 8px 10px;
    color: #fff;
    background: #2dbfc1;
    border: none;
    font-size: 11px;
    font-weight: bold;
}

.add-exit img {
    margin-right: 5px;
    height: 10px;
    margin-top: -2px;
}

.add-client-rel {
    padding: 8px 10px;
    color: #fff;
    background: #544890;
    border: none;
    font-size: 11px;
    font-weight: bold;
    margin-left: 8px;
}

.add-client-rel img {
    margin-right: 5px;
    height: 10px;
    margin-top: -2px;
}

.csn-button img {
    margin-right: 3px;
    height: 10px;
    margin-top: -2px;
}

#cc-client {
    margin-bottom: 0px;
}

#cc-client .ccc-heading {}

#cc-client .ccc-heading>td {
    font-size: 13px;
    font-weight: bold;
    color: #83738d!important;
    background: #faf8fb;
}

#cc-client td {
    padding: 15px 15px 10px 15px;
    text-align: left;
}

#cc-client tbody td {
    font-size: 13px;
    color: #6d4d83!important;
    vertical-align: top;
}

#cc-client p {
    margin-bottom: 0px;
}

#cc-client i {
    font-size: 12px;
    margin-right: 10px;
}

#cc-client img {
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.ccc-action {
    display: -webkit-inline-box;
    margin-left: 25px;
}

.cc-header {
    margin-top: 36px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #705e7b;
}

.rel-data-holder {
    background: #faf8fb;
    padding: 30px 20px;
    border: 1px solid #d3ccd6;
    border-radius: 3px;
}

.ccr-norel {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #a799b3;
    text-align: center;
}

.contact-data-holder {
    background: #faf8fb;
    padding: 30px 20px;
    border: 1px solid #d3ccd6;
    border-radius: 3px;
}

#cc-client>thead>tr>th,
#cc-client>tbody>tr>th,
#cc-client>tfoot>tr>th,
#cc-client>thead>tr>td,
#cc-client>tbody>tr>td,
#cc-client>tfoot>tr>td {
    border-bottom: 1px solid #d3ccd6;
}

.ccc-header {
    font-size: 15px;
    font-weight: bold;
    color: #705e7b;
    margin-bottom: 34px;
}

.ccc-form-container {
    display: flow-root;
}

.ccc-form-container label {
    font-size: 10px;
    text-align: right;
    color: #705e7b;
    padding-right: 15px;
}

.ccc-form-container .checkbox label {
    font-size: 12px;
    color: #705e7b;
    margin-top: 15px;
}

.ccc-form-container .clip-check.check-sm label:after {
    left: -2px;
    top: 1px;
}
.ccc-form-container textarea{
	border: 1px solid #d3ccd6;
    border-radius: 3px;
    margin-top: -8px;
    padding: 20px!important;
}
textarea.form-control{
	border: 1px solid #d3ccd6;
    font-size: 12px!important;
    line-height: 18px!important;
    color: #786d7f!important;
    padding: 10px!important;
}
.ccci-right{
	padding-left: 45px!important;	
}
.ccci-right>div{
	border: 1px solid #d3ccd6;
    border-radius: 3px;
    padding: 20px;
    margin-top: -8px;
    display: grid;
}
.ccci-right label{
	font-size: 10px;
    color: #786d7f;
    text-transform: uppercase;
    margin-top: 7px;
}
.ccci-right input{
	height: 26px;
    border: 1px solid #d3ccd6;
    font-size: 10px!important;
    color: #786d7f!important;
    padding: 8px!important
    margin-left: 14px;
}
.ccci-right .form-group{
	margin-bottom: 10px;
}
.ccci-right .col-sm-6{
	padding-left: 12px;
}
.ccci-image-holder{
    margin-left: 10px;
    background: #4c4183;
    cursor: pointer;
    height: 25px;
    width: 25px;
    text-align: center;
    float: right;
}
.ccci-image-holder img{
	height: 10px;
    width: 10px;
    margin-top: 4px;
}
.modal-open .modal{
    background: rgba(27,20,57,0.95);   
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-header .navbar-brand img {
        height: 24px;
        margin: 0 auto;
        padding-left: 50px;
    }
    .collapse-image {
        padding-left: unset!important;
    }
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn {
        background-color: #fff;
        border-color: #fff;
        color: #9b88aa !important;
    }
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn:hover,
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn:focus,
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn:active {
        background-color: transparent!important;
        border-color: transparent!important;
        color: #9b88aa !important;
        margin-top: -3px;
    }
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn>i,
    .navbar .navbar-collapse .navbar-left>li>a i {
        color: #9b88aa !important;
    }
    .app-navbar-fixed,
    .app-sidebar-fixed #sidebar {
        padding-top: 56px;
    }
    .navbar .navbar-collapse,
    .navbar .navbar-header {
        height: 56px !important;
    }
    .ccc-form-container textarea {
        resize: none;
    }
    .ccc-form-container label{}
}

@media only screen and (max-width: 991px) {
    #sidebar .search-form .navbar-form .form-control,
    .navbar .navbar-collapse {
        background: #1b1439!important;
    }
    .navbar .navbar-collapse,
    .navbar .navbar-header {
        height: 60px!important;
    }

    .navbar .navbar-header .sidebar-mobile-toggler {
        background-color: #3cadbb!important;
        border-color: #3cadbb!important;
        max-width: 40px;
    }
    .navbar .navbar-header .navbar-brand img {
        height: 25px;
        margin-top: -5px;
    }
    .navbar .navbar-collapse .nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .navbar .navbar-collapse .navbar-left>li:before,
    .navbar .navbar-collapse .navbar-right>li:before {
        background: none;
        background: none;
    }

    .navbar .navbar-right>li,
    .navbar .navbar-right>li>a,
    .navbar .navbar-left>li,
    .navbar .navbar-left>li>a,
    .navbar .navbar-collapse .navbar-left>li.sidebar-toggler-wrapper .btn {
        padding: 0px;
    }
    .navbar .navbar-right>li {
        padding-left: 20px;
    }
    #app>div.app-content.ng-scope>ng-include>header>div.navbar-collapse.collapse>ul.nav.navbar-right.ng-isolate-scope>li:nth-child(2) {
        padding-left: 25px;
    }
    .navbar .navbar-left>li>.main-search .search-button {
        top: -15px;
    }
    .navbar .navbar-left>li {
        padding-right: 20px;
    }
    header>div.navbar-collapse.collapse>ul.nav.navbar-left.hidden-sm.hidden-xs>li.sidebar-toggler-wrapper {
        padding-left: 30px;
    }
    .row-cd-summary .col-md-6:first-child {
        padding-right: 30px!important
    }
    .ccc-container>div,
    .ccc-form-container div
     {
        padding: 0px;
    }
    .ccc-form-container label{
    	padding: 0px 15px 0px 0px;
    }
    .ccci-right>div label,.ccci-right>div div{
    	padding: 0px;
    }
}

@media only screen and (max-width: 425px) {
    .navbar-sm-right {
        display: block;
    }
    .navbar-sm-right li {
        list-style: none;
        display: -webkit-inline-box;
    }
    .sm-nav-top img {
        height: 20px;
        margin-right: 15px;
        margin-top: 18px;
        cursor: pointer;
    }
    .notif-icon {
        height: 11px;
        width: 11px;
        background: rgba(255, 0, 0, .5);
        border-radius: 15px;
        margin-top: -24px;
        margin-left: 11px;
    }
    .main-content>.container {
        padding: 20px 10px 20px 30px!important;
    }
    .sm-style {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .mainTitle {
        margin-bottom: 20px!important;
    }
    .search-sm {
        display: -webkit-inline-box;
    }
    .search-sm img {
        height: 20px;
        margin-right: 4px;
        cursor: pointer;
    }
}