<style type="text/css">
.modal.in .modal-dialog {
    width: 72%;
}

.modal-content {
    border: 4px solid #494361;
    border-radius: 10px;
    margin-top: 60px;
}

.custom-modal-header,
.custom-modal-body {
    position: relative;
    width: 100%;
}

.custom-modal-header {
    background: #f2eff6;
    padding: 30px 18px 25px 20px;
    border-bottom: 1px solid #d3ccd6;
}

.custom-modal-header h2 {
    font-size: 18px;
    font-weight: bold;
    color: #3e3855;
    margin-bottom: 0px;
}

.custom-modal-header button {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #2dbfc1;
    border-color: #2dbfc1;
    padding: 10px 15px;
    margin-top: -10px;
}

.custom-modal-body {
    padding: 15px 18px 18px 20px;
}

.custom-modal-body .row {
    margin: 0;
}

.custom-modal-body .col-sm-4,
#ac-form .form-group label,
#ac-form .form-group div {
    padding: 0;
}

.modal-content-holder {
    min-height: 427px
}

.modal-content-holder {
    border: 1px solid #d3ccd6;
    border-radius: 3px;
    padding: 20px;
    background: #faf8fb;
    display: grid;
}

.modal-content-holder h3 {
    padding: 0;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #705e7b;
}

.modal-content-holder .cs-divider {
    margin: 15px 0px;
}

.modal-content-holder>.form-group>label {
    font-size: 10px;
    color: #786d7f;
    text-transform: uppercase;
    margin-top: 6px;
}

#ac-form .form-group {
    margin-bottom: 10px;
}

#ac-form select,
#ac-form input {
    height: 25px;
    padding: 1px 10px!important;
    border-radius: 3px;
    border-color: #d3ccd6!important;
    font-size: 12px!important;
}

#ac-form .clip-check.check-sm label:after {
    left: 4px;
    top: 1px;
}

#ac-form .checkbox label {
    font-size: 12px;
    color: #705e7b;
}

#ac-form textarea {
    padding: 15px 20px!important;
    resize: none;
}

#ac-form .col-sm-2 {
    font-size: 10px;
    color: #786d7f;
    vertical-align: middle;
    margin-top: 5px;
}

.fa-question {
    background: #544890;
    font-size: 17px;
    margin-top: 0px;
    padding: 0px 3px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}

.tooltip .tooltip-inner {
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tooltip .tooltip-arrow {
    display: block;
}
</style>
<form ng-submit="addClient(clientData);" id="ac-form">
    <div class="custom-modal-header">
        <h2>Add Client<button class="btn btn-primary pull-right" type="submit">Save Contact and Close</button></h2>
    </div>
    <div class="custom-modal-body">
        <div class="row row row-eq-height">
            <div class="col-sm-4" style="padding-right: 7.5px;">
                <div class="modal-content-holder">
                    <h3>Personal Information</h3>
                    <div class="cs-divider"></div>
                    <div class="form-group">
                        <label for="cadd-title" class="control-label col-sm-5">title</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="cadd-title" ng-model="clientData.Title">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                                <option value="Dr">Dr</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-firstname" class="control-label col-sm-5">First Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-firstname" ng-model="clientData.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-MiddleName" class="control-label col-sm-5">middle Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-MiddleName" ng-model="clientData.MiddleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-LastName" class="control-label col-sm-5">last Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-LastName" ng-model="clientData.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-PreferredName" class="control-label col-sm-5">preferred Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-PreferredName" ng-model="clientData.PreferredName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-Role" class="control-label col-sm-5">Role</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="cadd-Role" ng-model="clientData.Role">
                                <option value="Adult">Adult</option>
                                <option value="Child">Child</option>
                                <option value="Other">Other</option>
                                <option value="Guarantor">Guarantor</option>
                                <option value="Policy Owner">Policy Owner</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-DOB" class="control-label col-sm-5">Birthday</label>
                        <div class="col-sm-7">
                            <input type="date" class="form-control" id="cadd-DOB" ng-model="DOB" placeholder="mm/dd/yy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-Gender" class="control-label col-sm-5">Gender</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="cadd-Gender" ng-model="clientData.Gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-7">
                            <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                <input type="checkbox" id="cadd-DOBReminder" ng-model="clientData.DOBReminder">
                                <label for="cadd-DOBReminder">
                                    No Birthday Reminder
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="col-sm-offset-5 col-sm-7">
                            <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                <input type="checkbox" id="cadd-Deceased" ng-model="clientData.Deceased">
                                <label for="cadd-Deceased">
                                    Deceased
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding: 0px 7.5px;">
                <div class="modal-content-holder">
                    <h3>Addtional Information</h3>
                    <div class="cs-divider"></div>
                    <div class="form-group">
                        <label for="cadd-phoneHome" class="control-label col-sm-5">Home Phone</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-phoneHome" ng-model="homePhone.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-workPhone" class="control-label col-sm-5">Business Phone</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-workPhone" ng-model="workPhone.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-mobilePhone" class="control-label col-sm-5">Mobile Phone</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-mobilePhone" ng-model="mobilePhone.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-BestTimeToCall" class="control-label col-sm-5">Best Time to Call</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-BestTimeToCall" ng-model="clientData.BestTimeToCall">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-homeEmail" class="control-label col-sm-5">Email Address</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-homeEmail" ng-model="homeEmail.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-Gender" class="control-label col-sm-5">Smoker</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="cadd-Gender" ng-model="clientData.SmokerStatus">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-Occupation" class="control-label col-sm-5">Occupation</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="cadd-Occupation" ng-model="employment.Occupation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-7 col-sm-offset-5">
                            <div class="col-sm-2">
                                OR
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" id="cadd-OccupationClass" ng-model="occupationClass">
                                    <option value="1">Class 1</option>
                                    <option value="2">Class 2</option>
                                    <option value="3">Class 3</option>
                                    <option value="4">Class 4</option>
                                    <option value="5">Class 5</option>
                                </select>
                            </div>
                            <div class="col-sm-2 text-center">
                                <i class="fa fa-question" tooltip-placement="right" aria-hidden="true" uib-tooltip-html="htmlTooltip"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cadd-Employer" class="control-label col-sm-5">Employer / Company</label>
                        <div class="col-sm-7 ">
                            <input type="text" class="form-control" id="cadd-Employer" ng-model="employment.Employer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="padding-left: 7.5px;">
                <div class="modal-content-holder">
                    <h3>Client Notes</h3>
                    <div class="cs-divider"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="15" ng-model="clientData.Notes" placeholder="ADD NOTES..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>