<div style="padding-top: 24px; display: flow-root;">
    <a href="#" class="pull-right btn btn-primary add-client-rel"><img src="assets/images/lmtrial/add_sm.svg" >Add Client</a>
    <a href="#" class="pull-right btn btn-primary add-exit"><img src="assets/images/lmtrial/add_sm.svg" >Add Existing</a>
</div>
<div class="client-data-holder" style="padding-top: 12px;">
    <table class="table table-striped table-bordered" id="cc-client">
        <thead class="text-center">
            <tr class="ccc-heading">
                <td>Name</td>
                <td>Preffered&nbsp;Name</td>
                <td>DOB</td>
                <td>Gender</td>
                <td>Smoker</td>
                <td>Phone</td>
                <td>Role</td>
            </tr>
        </thead>
        <tbody class="">
            <tr>
                <td>{{currentFamilyDetails.ClientFirstName}} {{currentFamilyDetails.ClientLastName}}</td>
                <td>{{currentFamilyDetails.FamilyFullName}}</td>
                <td>22/2/1965</td>
                <td>Female</td>
                <td>Yes</td>
                <td>
                    <p><i class="fa fa-suitcase"></i>123-456-768</p>
                    <p><i class="fa fa-home"></i>213-456-098</p>
                </td>
                <td>Adult
                    <div class="ccc-action">
                        <img src="assets/images/lmtrial/edit-vio.svg" style="margin-right: 16px;">
                        <img src="assets/images/lmtrial/delete-vio.svg">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h3 class="cc-header">Relationships <a href="#" class="pull-right btn btn-primary add-client-rel" style="margin-top: -7px;""><img src="assets/images/lmtrial/add_sm.svg">Add Relationships</a></h3>
<div class="rel-data-holder">
    <p class="ccr-norel">No Relationships Added</p>
</div>
<h3 class="cc-header">Contact Information</h3>
<div class="contact-data-holder">
    <h3 class="ccc-header">Home Address</h3>
    <div class="row ccc-container">
        <div class="col-sm-6">
            <div class="ccc-form-container">
                <div class="form-group">
                    <label for="comment" class="control-label col-sm-5">ADDRESS</label>
                    <div class="col-sm-7">
                        <textarea class="form-control ccma-textarea" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <div class="checkbox clip-check check-primary check-sm checkbox-inline" style="margin-bottom: 30px!important;">
                            <input type="checkbox" id="same-as-mailing">
                            <label for="same-as-mailing" style="margin-top: 20px!important;">
                                same as Mailing Address
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-divider"></div>
            <h3 class="ccc-header" style="margin-top: 24px;margin-bottom: 34px;">Mailing Address</h3>
            <div class="ccc-form-container">
                <div class="form-group">
                    <label for="comment" class="control-label col-sm-5 ">ADDRESS</label>
                    <div class="col-sm-7">
                        <textarea class="form-control ccma-textarea" rows="5" placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <div class="cs-divider" style="margin-top: 30px;"></div>
            <div class="ccc-form-container">
                <div class="col-sm-offset-5 col-sm-7">
                    <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                        <input type="checkbox" id="include-marketing">
                        <label for="include-marketing">
                            Include in marketing
                        </label>
                    </div>
                </div>
                <div class="col-sm-offset-5 col-sm-7">
                    <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                        <input type="checkbox" id="include-newsletter">
                        <label for="include-newsletter">
                            Include in newsletter
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ccci-right">
            <div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Adviser</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">email</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">client&nbsp;type</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-2">
                        <div class="ccci-image-holder">
                            <img src="assets/images/lmtrial/add_sm.svg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">rating</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="SELECT RATING">
                    </div>
                    <div class="col-sm-2">
                        <div class="ccci-image-holder">
                            <img src="assets/images/lmtrial/add_sm.svg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">review&nbsp;month</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="SELECT MONTH">
                    </div>
                    <div class="col-sm-2">
                        <div class="ccci-image-holder">
                            <img src="assets/images/lmtrial/add_sm.svg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">reference&nbsp;code</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">referral&nbsp;source</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="SELECT TYPE">
                    </div>
                    <div class="col-sm-2">
                        <div class="ccci-image-holder">
                            <img src="assets/images/lmtrial/add_sm.svg">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">categories</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text">
                    </div>
                    <div class="col-sm-2">
                        <div class="ccci-image-holder">
                            <img src="assets/images/lmtrial/add_sm.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>