<div class="smc-noti-container">
    <div class="alert alert-info cd-alert-info">
        <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
            &times;
        </button>
        <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
    </div>
</div>
<div class="row row-cd-summary">
    <div class="col-md-6 no-margin no-padding">
        <div class="cd-summary-content-holder">
            <h3 class="sub-title">
                Clients
                <span>View Details</span>
            </h3>
            <table class="table table-bordered" id="cd-summary-table">
                <tbody>
                    <tr>
                        <td class="even text-center">Adults</td>
                        <td class="odd text-left">
                            Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                        </td>
                    </tr>
                    <tr>
                        <td class="even text-center">Children</td>
                        <td class="odd text-left">
                            [ No Children Listed ]
                        </td>
                    </tr>
                    <tr>
                        <td class="even text-center">Phone</td>
                        <td class="odd text-left">
                            {{currentFamilyDetails.ClientContact}}
                        </td>
                    </tr>
                    <tr>
                        <td class="even text-center">Email</td>
                        <td class="odd text-left odd-email">
                            {{familyDetails.MainEmail}}
                        </td>
                    </tr>
                    <tr>
                        <td class="even text-center">Address</td>
                        <td class="odd text-left odd-address">
                            <img src="assets/images/lmtrial/map.png" class="img-responsive">
                            <br/>
                            <p>#34 Princeton Building
                                <br/> 56 Mapple Boulevard Road 2
                                <br/> Dunedin 6004
                                <br/> New Zealand</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6 no-margin no-padding">
        <div class="cd-summary-content-holder">
            <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
            <table class="table table-striped" id="cd-summary-loans">
                <tbody class="text-center">
                    <tr>
                        <td><strong>$120,000</strong></td>
                        <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                        <td class="csl-submit">Submitted to Lender</td>
                    </tr>
                    <tr>
                        <td><strong>$120,000</strong></td>
                        <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                        <td class="csl-submit">Submitted to Lender</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cd-summary-content-holder" style="margin-top: 15px;">
            <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
            <table class="table table-striped table-bordered" id="cd-summary-benefits">
                <thead class="text-center">
                    <tr class="csb-heading">
                        <td>Benefit</td>
                        <td>Cover Amt/Excess</td>
                        <td>Insurer</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td><strong>Trauma Cover</strong></td>
                        <td>$68,000</td>
                        <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                    </tr>
                    <tr>
                        <td><strong>Car Accident</strong></td>
                        <td>$55,000 Anually</td>
                        <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                    </tr>
                    <tr>
                        <td><strong>Disability</strong></td>
                        <td>$68,000</td>
                        <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>