<div ng-controller="contactDetailsCtrl">
    <div ng-show="familyDetails" class="breadcrumb-wrapper" ng-controller="TooltipDemoCtrl">
        <div class="cd-breadcrumbs">
            <div class="cd-br cd-br-1st" ui-sref="app.contacts">
                <div class="triangle-front"><i class="fa fa-phone-square" aria-hidden="true"></i> Contacts
                </div>
                <div class="triangle-end"></div>
            </div>
            <div class="cd-br cd-br-th">
                <div class="triangle-front">
                    {{currentFamilyDetails.ClientFirstName}} {{currentFamilyDetails.ClientLastName}}
                </div>
                <div class="triangle-end"></div>
            </div>
        </div>
        <h4 class="mainTitle no-margin">{{currentFamilyDetails.FamilyFullName}}
            <span class="cd-buttons-head head1">
                <img src="assets/images/lmtrial/new_email.svg"> Send Email
            </span>
            <span class="cd-buttons-head head2">
                <img src="assets/images/lmtrial/new_mail.svg"> Send Mail
            </span>
            <span class="cd-buttons-head head3">
                <img src="assets/images/lmtrial/print.svg"> Print Summary
            </span>
            <span class="hidden-sm hidden-xs">Last updated <b><i>Yesterday June 4, 2016</i></b></span>
        </h4>
    </div>
    <div ng-show="familyDetails" class="container-fluid container-fullw">
        <div class="row">
            <div class="col-sm-9 no-margin no-padding sm-style">
                <div class="panel panel-white">
                    <div class="panel-body family-panel">
                        <div class="row">
                            <uib-tabset class="tabbable cd-tabset">
                                <uib-tab heading="Summary" class="cd-summary">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                123 475-1293
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Client" ng-click="setTextArea();getFamilyAdultList();">
                                    <div style="padding-top: 24px; display: flow-root;">
                                        <a ng-click="open('lg')" class="pull-right btn btn-primary add-client-rel"><img src="assets/images/lmtrial/add_sm.svg" >Add Client</a>
                                        <a href="#" class="pull-right btn btn-primary add-exit"><img src="assets/images/lmtrial/add_sm.svg" >Add Existing</a>
                                    </div>
                                    <div class="client-data-holder" style="padding-top: 12px;">
                                        <table class="table table-striped table-bordered" id="cc-client" ng-show="familyAdultList.length">
                                            <thead class="text-center">
                                                <tr class="ccc-heading">
                                                    <td>Name</td>
                                                    <td>Preffered&nbsp;Name</td>
                                                    <td>DOB</td>
                                                    <td>Gender</td>
                                                    <td>Smoker</td>
                                                    <td>Phone</td>
                                                    <td>Role</td>
                                                </tr>
                                            </thead>
                                            <tbody class="">
                                                <tr ng-repeat="adult in familyAdultList">
                                                    <td>{{adult.FullName}}</td>
                                                    <td>{{adult.PreferredName}}</td>
                                                    <td>22/2/1965</td>
                                                    <td>{{adult.Gender}}</td>
                                                    <td>{{adult.SmokerStatus}}</td>
                                                    <td style="min-width: 122px">
                                                        <!-- <p><i class="fa fa-suitcase"></i>123-456-768</p>
                                                        <p><i class="fa fa-home"></i>213-456-098</p> -->
                                                        <p ng-repeat="phone in adult.Phone">
                                                            <i ng-if="phone.Type=='Mobile'" class="fa fa-mobile"></i>
                                                            <i ng-if="phone.Type=='Work'" class="fa fa-suitcase"></i>
                                                            <i ng-if="phone.Type=='Home'" class="fa fa-home"></i> {{phone.Number}}
                                                        </p>
                                                    </td>
                                                    <td style="min-width: 133px;">{{adult.Role}}
                                                        <div class="ccc-action">
                                                            <img src="assets/images/lmtrial/edit-vio.svg" style="margin-right: 16px;">
                                                            <img src="assets/images/lmtrial/delete-vio.svg">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <h3 class="cc-header">Relationships <a href="#" class="pull-right btn btn-primary add-client-rel" style="margin-top: -7px;""><img src="assets/images/lmtrial/add_sm.svg">Add Relationships</a></h3>
                                    <div class="rel-data-holder">
                                        <p class="ccr-norel">No Relationships Added</p>
                                    </div>
                                    <h3 class="cc-header">Contact Information</h3>
                                    <div class="contact-data-holder">
                                        <h3 class="ccc-header">Home Address</h3>
                                        <div class="row ccc-container">
                                            <div class="col-sm-6">
                                                <div class="ccc-form-container">
                                                    <div class="form-group">
                                                        <label for="comment" class="control-label col-sm-5">ADDRESS</label>
                                                        <div class="col-sm-7">
                                                            <textarea class="form-control ccma-textarea" ng-model="staticAddress" rows="7"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-5 col-sm-7">
                                                            <div class="checkbox clip-check check-primary check-sm checkbox-inline" style="margin-bottom: 30px!important;">
                                                                <input type="checkbox" id="same-as-mailing">
                                                                <label for="same-as-mailing" style="margin-top: 20px!important;">
                                                                    same as Mailing Address
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cs-divider"></div>
                                                <h3 class="ccc-header" style="margin-top: 24px;margin-bottom: 34px;">Mailing Address</h3>
                                                <div class="ccc-form-container">
                                                    <div class="form-group">
                                                        <label for="comment" class="control-label col-sm-5 ">ADDRESS</label>
                                                        <div class="col-sm-7">
                                                            <textarea class="form-control ccma-textarea" rows="5" placeholder=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cs-divider" style="margin-top: 30px;"></div>
                                                <div class="ccc-form-container">
                                                    <div class="col-sm-offset-5 col-sm-7">
                                                        <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                                            <input type="checkbox" id="include-marketing">
                                                            <label for="include-marketing">
                                                                Include in marketing
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-offset-5 col-sm-7">
                                                        <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                                            <input type="checkbox" id="include-newsletter">
                                                            <label for="include-newsletter">
                                                                Include in newsletter
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ccci-right">
                                                <div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">Adviser</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">email</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">client&nbsp;type</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="ccci-image-holder">
                                                                <img src="assets/images/lmtrial/add_sm.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">rating</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" placeholder="SELECT RATING">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="ccci-image-holder">
                                                                <img src="assets/images/lmtrial/add_sm.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">review&nbsp;month</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" placeholder="SELECT MONTH">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="ccci-image-holder">
                                                                <img src="assets/images/lmtrial/add_sm.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">reference&nbsp;code</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">referral&nbsp;source</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text" placeholder="SELECT TYPE">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="ccci-image-holder">
                                                                <img src="assets/images/lmtrial/add_sm.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-4">categories</label>
                                                        <div class="col-sm-6">
                                                            <input class="form-control" type="text">
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="ccci-image-holder">
                                                                <img src="assets/images/lmtrial/add_sm.svg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Loans">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                {{currentFamilyDetails.ClientContact}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Insurance">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                123 475-1293
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Financials">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                123 475-1293
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="Workflow">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                123 475-1293
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="records">
                                    <div class="smc-noti-container">
                                        <div class="alert alert-info cd-alert-info">
                                            <button data-ct-dismiss="alert" class="close" ng-click="hideGrandParent(this);">
                                                &times;
                                            </button>
                                            <strong><i class="fa fa-info-circle" aria-hidden="true"></i> No address added to this client. To get direction, please add address.</strong>
                                        </div>
                                    </div>
                                    <div class="row row-cd-summary">
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Clients
                                        <span>View Details</span>
                                        </h3>
                                                <table class="table table-bordered" id="cd-summary-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="even text-center">Adults</td>
                                                            <td class="odd text-left">
                                                                Mr. {{currentFamilyDetails.ClientLastName}} {{currentFamilyDetails.ClientFirstName}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Children</td>
                                                            <td class="odd text-left">
                                                                [ No Children Listed ]
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Phone</td>
                                                            <td class="odd text-left">
                                                                123 475-1293
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Email</td>
                                                            <td class="odd text-left odd-email">
                                                                {{familyDetails.MainEmail}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="even text-center">Address</td>
                                                            <td class="odd text-left odd-address">
                                                                <img src="assets/images/lmtrial/map.png" class="img-responsive">
                                                                <br/>
                                                                <p>#34 Princeton Building
                                                                    <br/> 56 Mapple Boulevard Road 2
                                                                    <br/> Dunedin 6004
                                                                    <br/> New Zealand</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-6 no-margin no-padding">
                                            <div class="cd-summary-content-holder">
                                                <h3 class="sub-title">
                                        Loans
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped" id="cd-summary-loans">
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>$120,000</strong></td>
                                                            <td>Borrowed by {{currentFamilyDetails.ClientLastName}} from <strong>Wespac</strong></td>
                                                            <td class="csl-submit">Submitted to Lender</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="cd-summary-content-holder" style="margin-top: 15px;">
                                                <h3 class="sub-title">
                                        Existing Benefits <i class="sb-count-style">3</i>
                                                <span>View Details</span>
                                        </h3>
                                                <table class="table table-striped table-bordered" id="cd-summary-benefits">
                                                    <thead class="text-center">
                                                        <tr class="csb-heading">
                                                            <td>Benefit</td>
                                                            <td>Cover Amt/Excess</td>
                                                            <td>Insurer</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                        <tr>
                                                            <td><strong>Trauma Cover</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins1.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Car Accident</strong></td>
                                                            <td>$55,000 Anually</td>
                                                            <td><img src="assets/images/lmtrial/ins2.png" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Disability</strong></td>
                                                            <td>$68,000</td>
                                                            <td><img src="assets/images/lmtrial/ins3.png" class="img-responsive"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 no-margin no-padding sm-style">
                <div class="panel panel-white csp">
                    <div class="panel-body family-panel">
                        <div class="row">
                            <i class='fa fa-list cs-sidebar-icon mk-abs'></i>
                            <uib-tabset class="tabbable csp-pill" type="pills">
                                <uib-tab heading=" ACTIVE TASK">
                                    <div class="cs-divider"></div>
                                    <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                        <input type="checkbox" id="title-check-box" value="1">
                                        <label for="title-check-box">
                                            <span class="cst-type"><strong>Meeting</strong></span>
                                            <span class="cst-due">DUE TODAY</span>
                                            <br/>
                                            <span class="cst-desc">Set meeting for Insurance Application</span>
                                            <br/>
                                            <span class="cst-advisor"><i class="fa fa-user" aria-hidden="true"></i> James Punnet</span>
                                        </label>
                                    </div>
                                    <div class="cs-divider" style="margin-top: 15px;"></div>
                                    <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                        <input type="checkbox" id="title-check-box1" value="1">
                                        <label for="title-check-box1">
                                            <span class="cst-type"><strong>Submit Report</strong></span>
                                            <span class="cst-due">DUE TODAY</span>
                                            <br/>
                                            <span class="cst-desc">Send Details to Loan Market</span>
                                            <br/>
                                            <span class="cst-advisor"><i class="fa fa-user" aria-hidden="true"></i> Claurence Marketer</span>
                                        </label>
                                    </div>
                                </uib-tab>
                                <uib-tab heading="INACTIVE TASK">
                                    <div class="cs-divider"></div>
                                    Pill content 2
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
                <div class="panel panel-white csp">
                    <div class="panel-body family-panel">
                        <div class="row">
                            <h3 class="cs-sidebar-header"><i class='fa fa-bookmark cs-sidebar-icon'></i> RECENT ACTIVITY
                            <span>VIEW ALL</span></h3>
                            <div class="cs-divider"></div>
                            <div class="csra-container">
                                <div class="csra-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                <span class="csra-title">Follow up email sent</span>
                                <span class="csra-date"> . 1 Aug</span>
                                <br/>
                                <span class="csra-desc"> Email sent to 
                                    <i class="csra-email">{{familyDetails.MainEmail}}</i>
                                </span>
                            </div>
                            <div class="csra-container">
                                <div class="csra-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                <span class="csra-title">1 Task Completed</span>
                                <span class="csra-date"> . 29 Jul</span>
                                <br/>
                                <span class="csra-desc"> This is a sample of a name of a task
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-white csp">
                    <div class="panel-body family-panel">
                        <div class="row">
                            <h3 class="cs-sidebar-header"><i class='fa fa-file-text cs-sidebar-icon'></i> NOTES <i class="sb-count-style2">1</i>
                            <span>VIEW ALL</span></h3>
                            <div class="cs-divider"></div>
                            <div class="csn-container">
                                <span class="csn-heading">
                                    NOTE HEADING SAMPLE
                                </span>
                                <br/>
                                <span class="csn-desc">
                                    Sea fifth was grass season one rule. Beginning earth from them bearing.
                                </span>
                            </div>
                            <div class="cs-divider"></div>
                            <a class="btn btn-default btn-sm csn-button" href="">
                            <img src="assets/images/lmtrial/add_sm.svg" >
                            Create Note
                            </a>
                        </div>
                    </div>
                </div>
                <div class="smm-container">
                    <img src="assets/images/lmtrial/Shape 24.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.main-content>.container {
    padding: 26px!important;
}

.mainTitle {
    margin-bottom: 20px;
    font-size: 21px;
    color: #6d4d83;
}

.mainTitle span {
    color: #5f5566;
    font-size: 11px;
}

.family-panel {
    padding: 20px 30px;
}

.nav-tabs {
    border-bottom: 1px solid #ebe7ed;
}

.nav-tabs>li.active a,
.nav-tabs>li.active a:hover,
.nav-tabs>li.active a:focus {
    border-width: 1px;
    border-color: #ebe7ed;
    font-weight: bold;
    padding: 12px 28px 18px 28px;
}

.tab-content>.tab-pane {
    padding: 0px;
}

.panel-white,
.partition-white {
    margin-bottom: 10px;
}

.nav-pills>li>a {
    border-radius: 4px;
    padding: 0px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #bfb4c7;
}

.nav-pills>li>a:hover,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #fff;
    color: #6d4d83;
}

.mk-abs {
    position: absolute;
    margin-top: 2px;
}

.tabbable[type="pills"]>.nav {
    margin-bottom: 15px;
}

.clip-check {
    padding: 15px 0px 0px 0px;
    margin: 0px;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-left: 0 !important;
    margin-bottom: 0px !important;
}

.panel-tabs,
.tabbable {
    margin-bottom: 0px;
}

.clip-check.check-sm label:before {
    margin-top: -3px;
}


@media only screen and (min-width: 768px) {
    .col-sm-9.no-margin.no-padding.sm-style {
        padding-right: 30px!important;
    }
    .family-panel {
        padding: 20px 30px;
    }
    .family-panel .row {
        margin: 0px;
    }
}
</style>