<div ng-controller="contactsCtrl">
    <div class="breadcrumb-wrapper" ng-controller="TooltipDemoCtrl">
        <h4 class="contactmt mainTitle no-margin">My Contacts
		<span class="hidden-sm hidden-xs first-span">{{ families.length }} Total Contacts</span>
		<span class="hidden-sm hidden-xs main-title-divider">|</span>
		<span class="hidden-sm hidden-xs">Last updated <b><i>Yesterday June 4, 2016</i></b></span>
		<div class="pull-right">
			<button class="hidden-sm hidden-xs btn btn-success lg-btn-style" id="addContacts" tooltip-class="customClass" tooltip-placement="bottom" uib-tooltip="Add contacts and some dummy text"> 
				<img src="assets/images/lmtrial/add_lg.svg">Add Contacts</button>
			<button class="hidden-sm hidden-xs btn btn-default lg-btn-style" id="mergeContacts" tooltip-class="customClass" tooltip-placement="bottom" uib-tooltip="Select 2 or more contacts to merge">
				<img src="assets/images/lmtrial/merge.svg" >Merge Contacts</button>
		</div>
		<a class="search-sm pull-right" href=""><img src="assets/images/lmtrial/search.svg" ></a>
	</h4>
    </div>
    <div ng-if="families.length" class="container-fluid container-fullw">
        <div class="row">
            <div class="col-sm-12 no-margin no-padding sm-style">
                <div class="panel panel-white">
                    <div class="panel-body family-panel">
                        <div class="row">
                            <div class="letter-holder">
                                <div class="letter-filter letter-filter-active">A</div>
                                <div class="letter-filter">B</div>
                                <div class="letter-filter">C</div>
                                <div class="letter-filter">D</div>
                                <div class="letter-filter">E</div>
                                <div class="letter-filter">F</div>
                                <div class="letter-filter">G</div>
                                <div class="letter-filter">H</div>
                                <div class="letter-filter">I</div>
                                <div class="letter-filter">J</div>
                                <div class="letter-filter">K</div>
                                <div class="letter-filter">L</div>
                                <div class="letter-filter">M</div>
                                <div class="letter-filter">N</div>
                                <div class="letter-filter">O</div>
                                <div class="letter-filter">P</div>
                                <div class="letter-filter">Q</div>
                                <div class="letter-filter">R</div>
                                <div class="letter-filter">S</div>
                                <div class="letter-filter">T</div>
                                <div class="letter-filter">U</div>
                                <div class="letter-filter">V</div>
                                <div class="letter-filter">W</div>
                                <div class="letter-filter">X</div>
                                <div class="letter-filter">Y</div>
                                <div class="letter-filter">Z</div>
                            </div>
                            <div class="table-responsive">
                                <table class="family-table table table-striped" id="sample-table-1">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                                    <input type="checkbox" id="title-check-box" value="1">
                                                    <label for="title-check-box">
                                                    </label>
                                                </div>
                                            </th>
                                            <th>Family Name</th>
                                            <th>City <span class="glyphicon glyphicon-filter"></span></th>
                                            <th>Contact #</th>
                                            <th>Adviser <span class="glyphicon glyphicon-filter"></th>
                                            <th>Client Type <span class="glyphicon glyphicon-filter"></th>
                                            <th>
                                                <div class="form-group">
                                                    <input type="text" class="form-control table-input" id="exampleInputEmail1" placeholder="Search Contact">
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ui-sref="app.contactsdetail({familyID:family.FamilyID})" -->
                                    	 <tr ng-repeat="family in families" ng-click="saveCurrentFamily(family);">
                                            <td>
                                            	<div class="checkbox clip-check check-primary check-sm checkbox-inline">
                                                    <input type="checkbox" id="{{family.FamilyID}}" value="1">
                                                    <label for="title-check-box">
                                                    </label>
                                                </div>
                                            </td>
                                            <td>{{family.ClientLastName}} ({{family.ClientFirstName}})</td>
                                            <td>{{family.City}}</td>
                                            <td>{{family.ContactNumber}}</td>
                                            <td>{{family.Adviser}}</td>
                                            <td>{{family.ClientType}}</td>
                                            <td>
                                            	<a href="#" class="family-contact-icon"><i class="fa fa-share"></i></a>
                                            	<a href="#" class="family-contact-icon"><i class="fa fa-edit"></i></a>
                                            	<a href="#" class="family-contact-icon"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>