<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
        <div class="logo text-center">
            <img src="assets/images/lmtrial/branding.svg" alt="{{app.name}}" class="img-responsive" />
        </div>
        <p class="text-center text-dark text-bold text-extra-large margin-top-15">
            Welcome to MyCrm
        </p>
        <p class="text-center">
            Please enter your name and password to log in.
        </p>
        <!-- start: LOGIN BOX -->
        <div class="box-login" ng-controller="signInCtrl">
            <form class="form-login" ng-submit="login(loginData);" id="loginform" name="loginform" novalidate>
                <div class="form-group">
                    <input ng-model="loginData.username" type="text" class="form-control" placeholder="Username or email" id="username" ng-required="true" name="username" >
                    <small class="list-group-item list-group-item-danger" ng-if="loginform.username.$invalid && loginform.username.$touched">
                    <span ng-if="!loginData.username">Username is required</span>
                    <!-- <span ng-if="loginform.username.$error.minlength">Username must atleast 3 characters</span> -->
                    </small>
                </div>
                <div class="form-group form-actions">
                    <input ng-model="loginData.password" type="password" class="form-control password" ng-required="true" name="password" placeholder="Password">
                    <small class="list-group-item list-group-item-danger" ng-if="loginform.password.$invalid && loginform.password.$touched">Password is required</small>
                </div>
                <div class="checkbox clip-check check-primary">
                    <input ng-model="loginData.rememberMe" type="checkbox" id="remember" value="1" name="">
                    <label for="remember"> Keep me signed in </label>
                </div>
                <div class="form-actions">
                    <button ng-disabled="loginform.$invalid" type="submit" id="loginbutton" class="btn btn-success btn-block " v-pressable type="submit">
                        Login
                    </button>
                </div>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                © Copyright 2016 NZFSG
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
