<div >
<div class="breadcrumb-wrapper">
	<h4 class="mainTitle no-margin">Report
	</h4>
</div>
<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-sm-12 no-margin no-padding">
			<div class="panel panel-white no-radius">
				<div class="panel-body">
					<div class="row">
						Content go here
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

